<!--    -->
{% if cart.total_price >= 10000 %}
  <center>
<div class="free-ship ">
  <svg class="icon-qualify icon-right" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 240.608 240.608" xml:space="preserve">
<path d="M208.789,29.972l31.819,31.82L91.763,210.637L0,118.876l31.819-31.82l59.944,59.942L208.789,29.972z"></path>
</svg>
   
  <span>You qualify for <b>free shipping!</b></span></div>
  </center>
  <br>
{% endif %}
<style>.free-ship {
    color: green;
    font-size: 18px;
}
.icon-qualify {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: currentColor;
    vertical-align: middle;
    background: none;
    pointer-events: none;
    overflow: visible;
}</style>
<!--    -->